@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Lilita+One&display=swap');

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #8C59F1;
    background-image: url('https://github.com/alexbell-lol/Galaxy-Hub-Code-Remake/blob/main/Screenshot%202024-08-16%206.52.37%20AM.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 5rem;
    line-height: 1.2;
    color: #8C59F1;
    font-family: 'IBM Plex Sans', sans-serif;
}

.navbar {
    background-color: #8C59F1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-logo {
    height: 80px;
    width: auto;
    transition: transform 0.3s ease;
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.footer-link {
    position: fixed;
    bottom: 20px;
    font-size: 2rem;
    color: #8C59F1;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.version-info {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

.version-info .version-number {
    font-size: 40px;
    margin: 0;
}

.version-info .version-text {
    font-size: 30px;
    margin: 0;
}
